# --- env ---
venv/
.venv/
env/

# --- Python ---
__pycache__/
*.py[cod]
*.egg-info/
.Python

# --- Data ---
data/raw/
data/processed/

# --- Notebooks ---
.ipynb_checkpoints/

# --- env ---
.vscode/
.idea/
*.swp

# --- os ---
.DS_Store

# --- Notes ---
notas.txt
info.md               
